<% layout('layouts/boilerplate')%>
<div class="container mt-5">
    <div class="container">
        <form action="/home" method="GET">
            <div class="input-group mb-5">
                <% if (searchByName) { %>
                    <input name="searchByName" type="text" class="form-control" value="<%= searchByName %>" placeholder="Search by mentor name..." aria-label="Mentor's name" aria-describedby="Search mentor using name.">
                <% } else { %>
                    <input name="searchByName" type="text" class="form-control" placeholder="Search by mentor name..." aria-label="Mentor's name" aria-describedby="Search mentor using name.">
                <% } %>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
        <div class="row gy-5">
            <% for (var i = 0; i < professorList.length; i++) { %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="boxDisplayCard p-4 text-black card p-4">
                    <div class=" image d-flex flex-column justify-content-center align-items-center">
                        <a href="/mentorInfo?id=<%= professorList[i]._id %>">
                            <% if(!professorList[i].profilePictureURL){ %>
                                <div class="border rounded bg-dark">
                                    <img src="images/avatar.png" height="150" width="150" />
                                </div>
                            <% } else { %>
                                <img class="rounded" src="<%= professorList[i].profilePictureURL %>" height="150" width="150" />
                            <% } %>
                        </a>
                        <h2 class="name mt-3 text-center text-wrap">
                            <span class=""><%= professorList[i].title %></span>
                            <span class=""><%= professorList[i].first_name %></span>
                            <% if(professorList[i].middle_name){ %>
                            <span class=""><%= professorList[i].middle_name %></span>
                            <% } %>
                            <span class=""><%= professorList[i].last_name %></span>
                        </h2>
                        <% if(professorList[i].email){ %>
                        <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-1">
                            <span>
                                <i class="far fa-envelope"></i>
                            </span>
                            <a href="mailto:<%= professorList[i].email %>" target="_blank">
                                <span class="idd1 pl-1 text-break" style="overflow-wrap: break-word;">
                                    <%= professorList[i].email %>
                                </span>
                            </a>
                        </div>
                        <% } %>
                        <% if(professorList[i].phone){ %>
                        <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-1">
                            <span>
                                <i class="fas fa-phone"></i>
                            </span>
                            <span class="idd1 pl-1"><%= professorList[i].phone %></span>
                        </div>
                        <% } %>
                        <div class="text mt-1 text-center">
                            <h6><%= professorList[i].designation %></h6>
                        </div>
                        <div class="text mt-1 text-center">
                            <h4><%= professorList[i].institute.name %></h4>
                        </div>
                        <!--<div class="pt-2 d-flex mt-2"> 
                            <button class="btn1 btn-dark">Show Profile</button> 
                        </div>-->
                        <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                            <% if(professorList[i].googleScholarUrl){ %>
                            <span class="pr-2">
                                <a href="<%= professorList[i].googleScholarUrl %>" target="_blank">
                                    <i class="fab fa-google"></i>
                                </a>
                            </span>
                            <% } %>
                            <% if(professorList[i].linkedInUrl){ %>
                            <span class="pr-2 ">
                                <a href="<%= professorList[i].linkedInUrl %>" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </span>
                            <% } %>
                            <% if(professorList[i].personalWebsite){ %>
                            <span class="pr-2">
                                <a href="<%= professorList[i].personalWebsite %>" target="_blank">
                                    <i class="fas fa-globe"></i>
                                </a>
                            </span>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>

            <nav class="d-flex justify-content-center">
                <% if (pages > 0) { %>
                    <ul class="pagination">
                        <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">First</a></li>
                        <% } else { %>
                            <%if (searchByName) { %>
                                <li class="page-item"><a class="page-link" href="/home?page=1&searchByName=<%= encodeURIComponent(searchByName) %>">First</a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="/home?page=1">First</a></li>
                            <% } %>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <li class="page-item active"><a class="page-link"><%= i %></a></li>
                            <% } else { %>
                                <%if (searchByName) { %>
                                    <li class="page-item"><a class="page-link" href="/home?page=<%= i %>&searchByName=<%= encodeURIComponent(searchByName) %>"><%= i %></a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/home?page=<%= i %>"><%= i %></a></li>
                                <% } %>
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                            <li class="page-item disabled"><a class="page-link">Last</a></li>
                        <% } else { %>
                            <%if (searchByName) { %>
                                <li class="page-item"><a class="page-link" href="/home?page=<%= pages %>&searchByName=<%= encodeURIComponent(searchByName) %>">Last</a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="/home?page=<%= pages %>">Last</a></li>
                            <% } %>
                        <% } %>
                    </ul>
                <% } %>
            </nav>
        </div>
    </div>
    <br />
    <br />
</div>
