<% layout('layouts/boilerplate')%>
<section style="background-color: #fff;">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <% if(!professor.profilePictureURL){ %>
                        <img class="border rounded-circle bg-dark" src="images/avatar.png" height="150" width="150" />
                    <% } else { %>
                        <img class="rounded-circle img-fluid" src="<%= professor.profilePictureURL %>" height="150" width="150" />
                    <% } %>
                    <h5 class="my-3"><%= professor.title %> <%= professor.first_name %> <%= professor.last_name %></h5>
                    <p class="text-muted mb-1"><%= professor.designation %></p>
                    <% if(professor.department){ %>
                    <p class="text-muted mb-1"><%= professor.department %></p>
                    <% } %>
                    <p class="text-muted mb-1"><%= professor.institute.name %></p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush rounded-3">
                        <% if(professor.personalWebsite){ %>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fas fa-globe fa-lg"></i>
                            <a href="<%= professor.personalWebsite %>" target="_blank">
                                <p class="mb-0 text-right ml-3 text-break" style="overflow-wrap: break-word;"><%= professor.personalWebsite %></p>
                            </a>
                        </li>
                        <% } %>
                        <% if(professor.linkedInUrl){ %>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-linkedin fa-lg"></i>
                            <a href="<%= professor.linkedInUrl %>" target="_blank">
                                <p class="mb-0 text-right ml-3 text-break" style="overflow-wrap: break-word;"><%= professor.linkedInUrl %></p>
                            </a>
                        </li>
                        <% } %>
                        <% if(professor.googleScholarUrl){ %>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-google fa-lg"></i>
                            <a href="<%= professor.googleScholarUrl %>" target="_blank">
                                <p class="mb-0 text-right ml-3 text-break" style="overflow-wrap: break-word;"><%= professor.googleScholarUrl %></p>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0 text-wrap">
                                <span class=""><%= professor.title %></span>
                                <span class=""><%= professor.first_name %></span>
                                <% if(professor.middle_name){ %>
                                <span class=""><%= professor.middle_name %></span>
                                <% } %>
                                <span class=""><%= professor.last_name %></span>
                            </p>
                        </div>
                    </div>
                    <% if(professor.phone){ %>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"><%= professor.phone %></p>
                        </div>
                    </div>
                    <% } %>
                    <% if(professor.email){ %>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"><%= professor.email %></p>
                        </div>
                    </div>
                    <% } %>
                    <% if(professor.designation){ %>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Designation</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"><%= professor.designation %></p>
                        </div>
                    </div>
                    <% } %>
                    <% if(professor.department){ %>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Department</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"><%= professor.department %></p>
                        </div>
                    </div>
                    <% } %>
                    <% if(professor.institute.name){ %>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Institute Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"><%= professor.institute.name %></p>
                        </div>
                    </div>
                    <% } %>
                    <% if(professor.institute.address){ %>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Institute Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= professor.institute.address %></p>
                            </div>
                        </div>
                    <% } %>
                    <% if(professor.institute.website){ %>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Institute Website</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= professor.institute.website %></p>
                            </div>
                        </div>
                    <% } %>
                    <% if(professor.interestArea){ %>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Area of Interest</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= professor.interestArea %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-header">
                    Publications
                </div>
                <div class="card-body">
                    <div class="row">
                        <% for (var i = 0; i < professor.publications.length; i++) { %>
                        <div class="col-md-6 mb-3">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <span class="text-primary font-italic me-1"><%= professor.publications[i].type %></span> <%= professor.publications[i].citationString %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>